<div class="col-md-12 mt-3">
    <h1>{{page_title}}</h1>
    <p *ngIf="!is_edit">
        Añade un nuevo artículo al blog
    </p>
    <p *ngIf="is_edit && post">
        Modificar el post {{post.title}}
    </p>
    <!-- mensajes de alerta -->
    <div class=" alert alert-success col-md-5 mt-3" *ngIf="status == 'success'">
        Los datos se han guardado correctamente !!
    </div>
    <div class=" alert alert-danger col-md-5" *ngIf="status == 'error'">
        Los datos no se han guardado correctamente !!
    </div>
    <!-- Formulario de crear entrada -->

    <form class="col-md-5 ml-0 pl-0" #postNew="ngForm" (ngSubmit)="onSubmit(postNew)">
        <div class="form-group">
            <label for="title">Título</label>
            <input type="text" name="title" class="form-control" #title="ngModel" [(ngModel)]="post.title" required>
            <small *ngIf="!title.valid && title.touched">El título no es válido</small>
        </div>
        <div class="form-group">
            <label for="content">Contenido</label>
            <textarea [froalaEditor]="froala_options" name="content" class="form-control" #content="ngModel" [(ngModel)]="post.content" required>
            </textarea>
            <small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">El contenido no es válido</small>
        </div>
        <div class="form-group">
            <label for="category_id">Categoría</label>
            <select name="category_id" #category="ngModel" [(ngModel)]="post.category_id" class="form-control">
                <option *ngFor="let category of categories" value="{{category.id}}">
                    {{category.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <div *ngIf="is_edit && post.image">
                <img src="{{'http://127.0.0.1:8000/images/' + post.image}}" class="avatar_edit"/>
            </div>
            <angular-file-uploader
                [config]="afuConfig"
                [resetUpload]="resetVar"
                (ApiResponse)="imageUpload($event)"
            >
            </angular-file-uploader>
        </div>
        <input type="submit" class="btn btn-success" [disabled]="postNew.invalid">
    </form>
</div>
    
    